<div class="image-link-blocks scroll-area bleed md:unbleed">
  <!-- Bloque 1 -->
  <div class="image-link-blocks__item group rounded">
    <a href="/collections/smartphones" class="content-over-media rounded" style="--content-over-media-overlay: rgba(0,0,0,0.3)">
      <img src="{{ 'smartphones.jpg' | asset_url }}" alt="Smartphones" class="zoom-image" loading="lazy">
      <div class="place-self-end-start w-full bold">
        <div class="h-stack justify-between gap-2">
          Smartphones
          <span class="circle-chevron">
            {% render 'icon' with 'chevron-right-small', direction_aware: true %}
          </span>
        </div>
      </div>
    </a>
  </div>

  <!-- Bloque 2 -->
  <div class="image-link-blocks__item group rounded">
    <a href="/collections/componentes-pc" class="content-over-media rounded" style="--content-over-media-overlay: rgba(0,0,0,0.3)">
      <img src="{{ 'componentes-pc.jpg' | asset_url }}" alt="Componentes PC" class="zoom-image" loading="lazy">
      <div class="place-self-end-start w-full bold">
        <div class="h-stack justify-between gap-2">
          Componentes PC
          <span class="circle-chevron">
            {% render 'icon' with 'chevron-right-small', direction_aware: true %}
          </span>
        </div>
      </div>
    </a>
  </div>

  <!-- Bloque 3 -->
  <div class="image-link-blocks__item group rounded">
    <a href="/collections/gaming" class="content-over-media rounded" style="--content-over-media-overlay: rgba(0,0,0,0.3)">
      <img src="{{ 'gaming.jpg' | asset_url }}" alt="Zona Gaming" class="zoom-image" loading="lazy">
      <div class="place-self-end-start w-full bold">
        <div class="h-stack justify-between gap-2">
          Zona Gaming
          <span class="circle-chevron">
            {% render 'icon' with 'chevron-right-small', direction_aware: true %}
          </span>
        </div>
      </div>
    </a>
  </div>
</div>
